html,
body {
  margin: 0;
  padding: 0;
  font-size: 14pt;
  width: 100vw;
  height: 100vh;
}

.App {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  background: url(./Images/Collage\ Wallpaper.jpg);
  background-size: cover;
  background-position: center
}


.header a {
  margin: 0;
  padding: 0 60px;
  border-radius: 10px 10px 0 0 ;
  text-align: left;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 25px;
  background: rgb(173, 173, 175);
  display: inline-block;
  
}

.quote {
  width: 800px;
  height: 575px;
  background: whitesmoke;
  border: 15px solid rgb(173, 173, 175);
  padding: 50px;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.quote h1 {
  align-items: left;
  font-size: 1.75em;
}
.quote h2 {
  text-align: start;
  font-size: 1.5em;

}


.button {
  display: block;
  position: relative;
  justify-content: center;
  align-items: center;
	padding: 10px 15px;
	color: white;
  background: rgb(173, 173, 175);
  font-size: 20px;
  font-weight: 600;
	border-radius: 5px;
  max-width: 600px;
  font-size: 1em;
	cursor: pointer;
	outline: none;
}


.button:hover {
  background: white;
  color: rgb(173, 173, 175);
}

a {
  text-decoration: none;
}