.App {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  background: url(./Images/Collage\ Wallpaper.jpg);
  background-size: cover;
  background-position: center;
}

nav h1 {
  margin: 0;
  display: inline-
  block;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 25px;
  background: rgb(173, 173, 175);
}

.quote {
  max-width: 900px;
  max-height: 450px;
  border-radius: 10px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: whitesmoke;
  border: 1px solid black;
}
.quote h2 {
  align-items: left;

}


.button {
  position: relative;
  justify-content: center;
  align-items: center;
	padding: 10px 15px;
	color: white;
  background: rgb(173, 173, 175);
  font-size: 20px;
  font-weight: 600;
	border-radius: 5px;
  max-width: 600px;
	cursor: pointer;
}

.button:hover {
  background: white;
  color: rgb(173, 173, 175);
}